<div class="container">
  <div class="row">
    <div class="inline">
      <mat-card>
        <a href="/admin/user-handling">
          <h2>
            User Bans
          </h2>
        </a>
      </mat-card>
    </div>
    <div class="inline">
      <mat-card>
        <a href="/admin/create-news">
          <h2>
            Create News
          </h2>
        </a>
      </mat-card>
    </div>
    <div class="inline">
      <mat-card>
        <a href="/admin/list-news">
          <h2>
            Edit News
          </h2>
        </a>
      </mat-card>
    </div>
  </div>
</div>
