<app-header></app-header>
<mat-card>
  <div class="post">
    <mat-card-title>
      <h3 [innerText]="this.forumPost.title"></h3>
    </mat-card-title><hr>
    <mat-card-content class="content" >
      <p class="post-content" [innerHTML]="this.forumPost.content"></p>
      <p class="post-content" [innerHTML]="this.forumPost._id"></p>
      <div class="post-footer">
        <hr>
        <span class="date-published footer-item" >
        Published on <span [innerText]="this.forumPost.author"></span>
        </span>
        <span class="flex footer-item"></span>
        <span class="author footer-item">By
          <span [innerText]="this.forumPost.author"></span>
        </span>
      </div>
    </mat-card-content>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Comments
      </mat-expansion-panel-header>
      <div class="comment">
        <div class="reply-content">
          This is a comment on a post for someone to read. This is just an example.
        </div>
        <div class="reply-footer">
          <span class="date-published footer-item" >
          Published on <span [innerText]="this.forumPost.date_published"></span>
          </span>
          <span class="flex footer-item"></span>
          <span class="author footer-item">By
            <span [innerText]="this.forumPost.author"></span>
          </span>
        </div>
      </div>
      <hr>
      <div class="comment">
          <div class="reply-content">
            This is a comment on a post for someone to read. This is just an example.
            <br>
            <br>
            Something else to add. thanks
          </div>
          <div class="reply-footer">
            <span class="date-published footer-item" >
            Published on <span [innerText]="this.forumPost.author"></span>
            </span>
            <span class="flex footer-item"></span>
            <span class="author footer-item">By
              <span [innerText]="this.forumPost.author"></span>
            </span>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<mat-card>
    <form class="news-create-form" (ngSubmit)="submitComment(commentForm)" #commentForm="ngForm">
      <mat-form-field>
        <textarea matInput rows="3" name="enteredContent" placeholder="Add a comment..." ngModel required
          #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!commentForm.form.valid">Comment</button>
    </form>
</mat-card>
