<app-header></app-header>
<div *ngIf="forumPost">
  <mat-card>
    <div class="post">
      <mat-card-title>
        <h3 [innerText]="this.forumPost.title"></h3>
      </mat-card-title>
      <hr>
      <mat-card-content class="content">
        <p class="post-content" [innerHTML]="this.forumPost.content"></p>
        <div class="post-footer">
          <hr>
          <span class="date-published footer-item">
            Published on <span [innerText]="this.forumPost.date_published"></span>
          </span>
          <span class="flex footer-item"></span>
          <span class="author footer-item">By
            <span [innerText]="this.forumPost.author"></span>
          </span>
        </div>
        <hr>
        <div class="links">
          <a routerLink="/forums/edit" (click)="makePostInterested(forumPost._id)" routerLinkActive="active"><button
              mat-button class="header-link">Forum Edit</button></a>
          <a (click)="deletePost(forumPost._id, forumPost)" routerLinkActive="active"><button mat-button
              class="header-link">Forum
              Delete</button></a>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="comment">
    <div class="reply-content">
      This is a comment on a post for someone to read. This is just an example.
    </div>
    <hr>
    <div class="reply-footer">
      <span class="date-published footer-item">
        Published on <span [innerText]="this.forumPost.date_published"></span>
      </span>
      <span class="flex footer-item"></span>
      <span class="author footer-item">By
        <span [innerText]="this.forumPost.author"></span>
      </span>
    </div>
  </mat-card>
  <mat-card>
    <form class="news-create-form" (ngSubmit)="createComment(this.forumPost._id, commentForm)" #commentForm="ngForm">
      <mat-form-field>
        <textarea matInput rows="3" name="enteredComment" placeholder="Add a comment..." ngModel required
          #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter content.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!commentForm.form.valid">Comment</button>
    </form>
  </mat-card>
</div>
