mat-card {
  display: block;
  margin: 2rem auto;
  width: 60%;
}
mat-form-field {
  display: block;
  width: 95%;
  margin: auto;
  padding: auto;
}
h3{
  margin: 6px; padding: 0;
}
h4 {
  margin: 0px; padding: 0;
}
.content {
  font-size: 14pt;
}
mat-expansion-panel {
  background: lightgrey;
}
.post-footer {
  display: block;
  padding: 0px;
  margin: 0;
  width: 100%;
}
.footer-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.flex{
  width: 40%;
}
.date-published {
  width: 30%;
  font-family: monospace;
  font-size: 9pt;
}
.author {
  width: 30%;
  font-family: monospace;
  font-size: 9pt;
  text-align: end;
}
.comment {
  background-color: whitesmoke;
  padding: 12px;
}
