h4 {
 float: right;
}
.links{
  display: inline-block
}
mat-card {
  display: block;
  margin: 1rem auto;
  width: 60%;
}
h3{
  width: 100%; margin: 4px; padding: 0;
}
mat-card-title {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.author-area {
  display: block;
  padding: 0;
  margin: .2em;
}
.buttons {
  display: inline;
  margin: auto;
  padding: 0;
}
.author {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10pt;
}
.footer-credit {
  font-size: 9pt;
  font-family: monospace;
  width: 70%;
  text-align: end;
}
.voting {
  width: 2%;
  vertical-align: top;
  padding: .5em;
  font-size: 20px;
  position: relative;
}
.vote-count {
  text-align: justify;
  margin: auto;
  text-indent: -.45em;
}
.uparrow .downarrow {
  text-align: start;
}
.uparrow:hover {
  color: green;
}
.downarrow:hover {
  color: red;
}
.inline-block {
  display: inline-block;
}
.post {
  width: 94%;
  margin: auto;
}
