<app-header></app-header>
<div class="donate-main">
  <div class="half-page inline-block">
    <mat-card>
      <mat-card-title>
        <h3>
          DONATOR LIFETIME PACKAGE
        </h3>
      </mat-card-title>
      <mat-card-content>
        <div class="price-region">
          <span class="price">
            $15.00
          </span>
          <br>
          <span class="duration">
            Lifetime Duration *
          </span>
          <br> <br>
        </div>
        <div class="description">
          <ul>
            <li>Ability to fly</li>
            <li>God Mode</li>
            <li>Disguise</li>
            <li>Teleport Signs and Warps</li>
            <li>Editable tag</li>
          </ul>
        </div>
        <a href="">
          <div class="buy-button price-region">
            DONATE
          </div>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="half-page inline-block">
    <mat-card>
      <mat-card-title>
        <h3>
          SUPPORTER PACKAGE
        </h3>
      </mat-card-title>
      <mat-card-content>
        <div class="price-region">
          <span class="price">
            $5.00
          </span>
          <br>
          <span class="duration">
            Requires Donator Rank | Lasts 1 Month *
          </span>
          <br> <br>
        </div>
        <div class="description">
          <ul>
            <li>Inherits All Donor Commands</li>
            <li>Creative Mode Access</li>
            <li>Unlimited Teleport Signs</li>
            <li>Other Features</li>
          </ul>
        </div>
        <a href="">
          <div class="buy-button price-region">
            DONATE
          </div>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="small-text">
    *Subject to be revoked if server rules are broken, no refunds will be given if you have used any of the features.
  </div>
</div>
