<app-header></app-header>
<mat-card>
  <mat-tab-group >
    <mat-tab label="Craftbook">
      <div class="tabpage">
        This is the craftbook guide here
        there are many tools and tricks you can add on the server :D
      </div>
    </mat-tab>
    <mat-tab label="ArmourAbilities">
      <div class="tabpage">
      I'm the armour abilities page for the server. :D
      you will learn about the abilities and how to craft them here
      </div>
    </mat-tab>
    <mat-tab label="Donor Commands">
      <div class="tabpage">
      Bruh you get /god and /fly its all you need my guy
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
