.large-background {
  display: block;
  height: 400px;
}
.text-region{
  width: 80%;
  padding-top: 100px;
  margin: auto;
}
.logo-image{
  width: 50%;
}
.background-text{
  margin: 2rem;
  color: whitesmoke;
  font-family: Roboto;
}
