<div class="commentContainer" *ngFor="let comment of this.forumComments">
  <mat-card class="comment">      
    <div class="reply-content" [hidden]="isEditable(comment._id)" [innerText]="comment.content">
    </div>
    <textarea class="comment-edit" [hidden]="!isEditable(comment._id)" [innerText]="comment.content"></textarea>
    <hr>
    <div class="reply-footer">
        <div class="flex footer-item links">
          <div class="standard-footer">
            <button
                mat-button class="header-link" (click)="toggleEdit(comment._id)">Comment Edit</button>
            <a (click)="deleteComment(comment._id)" routerLinkActive="active"><button mat-button
                class="header-link">Forum Delete</button></a>
          </div>
        </div>
      <span class="author footer-item">By
        <span [innerText]="comment.author"></span>
        at <span [innerText]="comment.date_published"></span>
      </span>
    </div>
  </mat-card>
</div>
