.header-link {
  color: black;
  font-size: 18px;
}
mat-toolbar {
  height: 4em;
  backdrop-filter: blur(20px) contrast(.8);
  background-color: rgba(250, 250, 250, 0.25);
}
.navigation-bar-left{
  margin-left: 10%;
  margin-right: auto;
}
.navigation-bar-right{
  margin-left: auto;
  margin-right: 10%;
}
.logo{
  height: 2em;
}
