.header-link {
  color: white;
  font-size: 16px;
}
mat-toolbar {
  height: 4em;
  backdrop-filter: blur(20px) contrast(.8);
  background-color: rgba(151, 151, 151, 0.3);
}
.navigation-bar-left{
  margin-left: 10%;
  margin-right: auto;
}
.navigation-bar-right{
  margin-left: auto;
  margin-right: 10%;
}
.logo{
  height: 2em;
}
