  <mat-toolbar fullscreen>
    <div class="navigation-bar-left">
      <a routerLink="/" routerLinkActive="active">
        <img class="logo" src="../../assets/images/logos/PlayDecaBannerPNG_decagon.png" alt="PlayDeca logo">
      </a>
    </div>
    <nav class="navigation-bar-right">
      <a routerLink="/" routerLinkActive="active"> <button mat-button class="header-link">Home</button></a>
      <a routerLink="/info" routerLinkActive="active"><button mat-button class="header-link">Information</button></a>
      <a routerLink="/vote" routerLinkActive="active"><button mat-button class="header-link">Vote</button></a>
      <a routerLink="/vote" routerLinkActive="active"><button mat-button class="header-link">Forum</button></a>
      <a routerLink="/sign-in" routerLinkActive="active"><button mat-button class="header-link">Sign In</button></a>
      <a routerLink="/logout" routerLinkActive="active"><button mat-button class="header-link">Logout</button></a>
      <a routerLink="/dynmap" routerLinkActive="active"><button mat-button class="header-link">Dynmap</button></a>
      <a routerLink="/donate" routerLinkActive="active"><button mat-button class="header-link">Donate</button></a>
      <a routerLink="/admin" routerLinkActive="active"> <button mat-button class="header-link">Admin Home</button></a>
    </nav>
  </mat-toolbar>
