<mat-toolbar fullscreen>
  <div class="navigation-bar-left">
    <a routerLink="/" routerLinkActive="active">
      <img class="logo" src="../../assets/images/logos/PlayDecaBannerPNG_decagon.png" alt="PlayDeca logo">
    </a>
  </div>
  <nav class="navigation-bar-right">
    <a routerLink="/" routerLinkActive="active"> <button mat-button class="header-link">Home</button></a>
    <a routerLink="/info" routerLinkActive="active"><button mat-button class="header-link">Information</button></a>
    <a routerLink="/vote" routerLinkActive="active"><button mat-button class="header-link">Vote</button></a>
    <a routerLink="/forums" routerLinkActive="active"><button mat-button class="header-link">Forum</button></a>
    <a routerLink="/sign-in" [hidden]="getSignedIn()" routerLinkActive="active"><button mat-button
        class="header-link">Sign
        In</button></a>
    <a routerLink="/profile/{{ this.user._id }}" [hidden]="!getSignedIn()" routerLinkActive="active"><button mat-button
        class="header-link">Profile</button></a>
    <a routerLink="" [hidden]="!getSignedIn()" routerLinkActive="active"><button mat-button class="header-link"
        (click)="logout()">Logout</button></a>
    <a href="{{this.dynmapLink()}}" routerLinkActive="active"><button mat-button class="header-link">Dynmap</button></a>
    <a routerLink="/donate" routerLinkActive="active"><button mat-button class="header-link">Donate</button></a>
    <a routerLink="/admin/dashboard" routerLinkActive="active" [hidden]="!getIsAdmin()"> <button mat-button
        class="header-link">Admin</button></a>
    <a href="https://discord.gg/4KtEsPF"><button mat-button
        class="header-link">Discord</button></a>
  </nav>
</mat-toolbar>
